:host {
    max-width: 425px;
    min-width: 345px;
    width: 100%; 
}

.scanner-card {
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

    .mat-mdc-card-header {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: var(--mat-sys-primary);
        gap: 20px;
        width: 100%;
        flex-shrink: 0;

    }

    .mat-mdc-card-content {
        background-color: var(--mat-sys-surface-container-low);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        display: flex;
        padding: 24px;
        gap: 10px;
    }

    .mat-mdc-card-title {
        color: var(--mat-sys-on-primary);
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }

    .error-message {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--mat-sys-on-error-container);
        font-size: 12px;
        margin-top: 8px;
        padding: 8px;
        background-color: var(--mat-sys-error-container);
        border-radius: 4px;

        .material-icons {
            font-size: 18px;
        }
    }
}