<div class="content">
    <div class="up">
        <div class="logo" routerLink="/">
            <h2 class="manrope-24pt-semibold">LOGO</h2>
        </div>
        <div class="items">
            @for (item of navUpItems; track item.id){
                <a [routerLink]="item.path" routerLinkActive="active-link" [routerLinkActiveOptions]="item.path === '/escaner' ? {exact: false} : {exact: true}" #rla="routerLinkActive">
                    <app-navbar-item
                        [isSelected]="rla.isActive"
                        [item]="item"
                    ></app-navbar-item>
                </a>
            }
        </div>
    </div>
    <div class="down">
        @for (item of navDownItems; track item.id){
            <app-navbar-item
                [item]="item"
                (clickEvent)="item.action()"
            ></app-navbar-item>
        }
    </div>
</div>