.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--panel);
    padding: 10px;
    box-sizing: border-box;
    width: 110px;
    height: 100%;
}
.up{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a{
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* .logo h2 {
    margin: 0;
    padding: 0;
} */