<div class="number-filter-container">
  <div class="number-label-container">
    <span class="manrope-12pt-regular text-primary">{{ parametro().etiqueta }}</span>
  </div>
  <div class="number-inputs-container">
    @if (hasOptions()) {
      <app-form-select
        [controlId]="parametro().enumParametro"
        [options]="selectOptions()"
        [formControl]="valueControl"
        class="number-input"
      ></app-form-select>
    } @else {
      <app-form-text
        [controlId]="parametro().enumParametro"
        [type]="inputType"
        [formControl]="valueControl"
        class="number-input"
      ></app-form-text>
    }
  </div>
</div>