<div class="second-navbar">
    <div class="back-button">
        @if (backPath != '') {
            <a [routerLink]="backPath" (click)="onButtonClick('Atrás')">
              <app-button-navbar
                [iconClass]="'bi bi-arrow-left-square-fill'"
                [buttonText]="''"
              ></app-button-navbar>
            </a>
        }
    </div>
    <h2 class="h2">{{title}}</h2>
    @for (item of items; track item.buttonText) {
        <div class="button-wrapper">
          <a [routerLink]="item.path" (click)="onButtonClick(item.buttonText)">
            <app-button-navbar
              [iconClass]="item.iconClass"
              [buttonText]="item.buttonText"
            ></app-button-navbar>
          </a>
        </div>
      }
</div>
