button{
    display: flex;
    border:none;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

i{
    font-size: 30px;
    color: var(--text-primary);
}

span{
    color: var(--text-primary);
}

button:hover{
    background-color: var(--btn-hover);
}
button.selected{
    background-color: var(--btn-selected);
}