<div class="configuration-card" [class.filter-card]="cardType === EnumConfigurationCard.FILTERS">
  <div class="card-header">
    <span class="card-title">{{ displayTitle }}</span>
  </div>

  <div class="card-content">
    @if (cardType === EnumConfigurationCard.GENERAL) {
      <app-forms [formFields]="generalFormFields"></app-forms>
    }
    @if (cardType === EnumConfigurationCard.TIME) {
      <app-forms [formFields]="timeFormFields" [isHorizontal]="true"></app-forms>
    }
    @if (cardType === EnumConfigurationCard.MARKET) {
      <app-forms [formFields]="marketFormFields" [isHorizontal]="true"></app-forms>
    }
    @if (cardType === EnumConfigurationCard.FILTERS){
      <app-filter-card [filtroEnum]="EnumFiltro.VOLUME"></app-filter-card>
    }
  </div>
</div>
