.filter-selected-card-container {
  min-width: 300px;
  max-width: 400px;
  width: 100%; /* fill */
  padding: 12px;
  gap: 20px;
  display: flex;
  flex-direction: column; /* vertical */
  align-items: flex-start; /* top left */
  background-color: var(--panel); /* fill --panel */
  border: 1px solid var(--border-default); /* stroke weight 1px, color --border-default, position inside */
  border-radius: 10px;
  height: fit-content; /* height hug */
}

.filter-selected-card-header {
  display: flex;
  flex-direction: row; /* horizontal */
  width: 100%; /* fill */
  height: fit-content; /* hug */
  padding: 0;
  gap: 10px;
  align-items: center; /* align left middle for text, and center for icon */
}

.filter-selected-card-header input {
  flex-grow: 1; /* width fill */
  color: var(--text-primary);
  text-align: left; /* align left middle */
  border: none; /* Remove default input border */
  background-color: transparent; /* Make input background transparent */
  padding: 0; /* Remove default input padding */
}

.filter-selected-card-header input:focus {
  outline: none; /* Remove outline on focus */
  box-shadow: none; /* Remove box shadow on focus */
}

.filter-selected-card-header .btn-icon {
  background-color: transparent; /* Ensure no background for the button */
  border: none; /* Remove button border */
}

.filter-selected-card-header .bi-x {
  color: var(--color-error);
  width: 24px; /* square */
  height: 24px; /* square */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem; /* Adjust icon size as needed */
}

.filter-selected-card-parameters {
  width: 100%; /* fill */
  height: fit-content; /* hug */
  gap: 15px;
  padding: 0;
  display: flex;
  flex-direction: column; /* vertical */
  align-items: flex-start; /* top left */
}

.filter-selected-card-type {
  width: 100%; /* fill */
  gap: 10px;
  display: flex;
  flex-direction: row; /* horizontal */
  align-items: center; /* align left */
  padding: 5px 0; /* padding 5 for sides */
  height: fit-content; /* hug */
}

.filter-selected-card-type span {
  flex-grow: 1; /* width fill */
  height: fit-content; /* hug */
  color: var(--text-secondary);
  text-align: left; /* align left middle */
}