<div class="filter-selected-card-container">
  <div class="filter-selected-card-header">
    <input
      type="text"
      class="form-control manrope-16pt-regular"
      [value]="filterName"
      readonly
    />
    <button
      type="button"
      class="btn-icon"
      (click)="onRemoveFilter()"
    >
      <i class="bi bi-x"></i>
    </button>
  </div>

  <div class="filter-selected-card-parameters">
    @for (parametro of filtro()?.parametros; track trackByParametro($index, parametro); let i = $index) {
      @switch (parametro.objValorSeleccionado.enumTipoValor) {
        @case (EnumTipoValor.CONDICIONAL) {
          <app-filter-parameter-conditional 
            [parametro]="parametro"
            [submitted]="submitted()"
            (parameterChange)="onParameterChange($event, i)"
          ></app-filter-parameter-conditional>
        }
        @case (EnumTipoValor.STRING) {
          <app-filter-parameter-options
            [submitted]="submitted()"
            [parametro]="parametro"
            (parameterChange)="onParameterChange($event, i)"
          ></app-filter-parameter-options>
        }
        @case (EnumTipoValor.INTEGER) {
          <app-filter-parameter-number 
            [parametro]="parametro"
            [submitted]="submitted()"
            (parameterChange)="onParameterChange($event, i)"
          ></app-filter-parameter-number>
        }
        @case (EnumTipoValor.FLOAT) {
          <app-filter-parameter-number 
            [parametro]="parametro"
            [submitted]="submitted()"
            (parameterChange)="onParameterChange($event, i)"
          ></app-filter-parameter-number>
        }
      }
    }
  </div>

  <div class="filter-selected-card-type">
    <span class="manrope-8pt-medium">
      {{ filterCategory }}
    </span>
  </div>
</div>
