<div class="filter-selected-card-container">
  <div class="filter-selected-card-header">
    <input
      type="text"
      class="form-control manrope-16pt-regular"
      [value]="filterName"
      readonly
    />
    <i 
      class="bi bi-x remove-icon" 
      (click)="onRemoveFilter()" 
      title="Eliminar filtro"
    ></i>
  </div>

  <div class="filter-selected-card-parameters">
    @for (parametro of filtro()?.parametros; track trackByParametro($index, parametro); let i = $index) {
      @switch (parametro.objValorSeleccionado.enumTipoValor) {
        @case (EnumTipoValor.CONDICIONAL) {
          <div class="conditional-container">
            <app-filter-parameter-conditional 
              [parametro]="parametro"
              [submitted]="submitted()"
              (parameterChange)="onParameterChange($event, i)"
            ></app-filter-parameter-conditional>
          </div>
        }
        @case (EnumTipoValor.STRING) {
          <div class="string-container">
            <app-filter-parameter-options
              [submitted]="submitted()"
              [parametro]="parametro"
              (parameterChange)="onParameterChange($event, i)"
            ></app-filter-parameter-options>
          </div>
        }
        @case (EnumTipoValor.INTEGER) {
          <div class="integer-container">
            <app-filter-parameter-number 
              [parametro]="parametro"
              [submitted]="submitted()"
              (parameterChange)="onParameterChange($event, i)"
            ></app-filter-parameter-number>
          </div>
        }
        @case (EnumTipoValor.FLOAT) {
          <div class="float-container">
            <app-filter-parameter-number 
              [parametro]="parametro"
              [submitted]="submitted()"
              (parameterChange)="onParameterChange($event, i)"
            ></app-filter-parameter-number>
          </div>
        }
      }
    }
  </div>

  <div class="filter-selected-card-type">
    <span class="manrope-8pt-medium">
      {{ filterCategory }}
    </span>
  </div>
</div>
