:host {
  display: block;
  width: 100%;
}

.scanner-sidebar-button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--panel);
  cursor: pointer;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.scanner-sidebar-button:hover {
  background-color: var(--btn-hover);
}

.scanner-sidebar-button.selected {
  background-color: var(--btn-selected);
}

.scanner-sidebar-button i {
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--text-primary);
}

.manrope-12pt-regular {
  color: var(--text-primary);
}