<div class="scanner-info-card">
  <div class="scanner-info-content-area">
    <div class="scanner-info-sidebar-container">
      @for (item of sidebarItems; track item.id){
        <app-scanner-info-item
          [item]="item"
          [isSelected]="item.id === selectedItemId()"
          [isExpandedView]="true"
          (buttonClicked)="onSidebarItemClicked($event)"
        ></app-scanner-info-item>
      }
    </div>

    <div class="scanner-info-details-container">
      <!-- Info content will go here -->
    </div>
  </div>
</div>
