<div class="options-filter-container">
  <div class="options-label-container">
    <span class="manrope-12pt-regular text-primary">{{ parametro().etiqueta }}</span>
  </div>
  <div class="options-inputs-container">
    <app-form-select
      [controlId]="'options-select'"
      [options]="selectOptions()"
      [placeholder]="'Seleccione una opción'"
      [required]="valueControl.hasValidator(Validators.required)"
      [formControl]="valueControl"
      class="options-select"
    ></app-form-select>
  </div>
</div>
