:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    gap: 15px;
    flex: 1;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: var(--panel);
    overflow: hidden;
}


.card-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
    background-color: var(--card-header);
    align-items: center;
}

.card-header h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    color: var(--card-header-text);
}

.manrope-24pt-semibold {
    color: var(--card-header-text);
    margin: 0;
    flex-grow: 1;
    text-align: left;
}


.card-content-1, 
.card-content-2, 
.card-content-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--panel);
    border-radius: 10px;
}

.card-content-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content-1 .form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}


.card-content-1 .form-inline app-form-text {
    flex: 1; 
}

.card-content-1 .bi-search {
    font-size: 1.5rem;
    color: var(--text-color);
}

.card-content-3 app-filter-add-card {
    flex: 1 1 300px;
    max-width: 400px;
}