<app-navbar-aux
    [backPath]="backPath()">
</app-navbar-aux>

@if (loading()) {
    <app-load-page></app-load-page>
} @else if (loadError()) {
    <app-load-page-error ></app-load-page-error>
} @else {
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h2 class="manrope-20pt-medium">{{ displayTitle() }}</h2>
            </div>
            <div class="card-content-1">
                <form class="form-inline">
                    <i class="bi bi-search"></i>
                    <app-form-text
                        [placeholder]="'Buscar filtros'"
                        [controlId]="'searchFilter'"
                        [formControl]="searchControl"
                    ></app-form-text>
                </form>
            </div>
            <div class="card-content-2">
                @for (category of categories(); track category.enumCategoriaFiltro) {
                    <app-filter-button 
                        [category]="category" 
                        [isSelected]="selectedCategory() === category.enumCategoriaFiltro"
                        (buttonSelected)="onCategorySelected(category)"
                    ></app-filter-button>
                }
            </div>
            <div class="card-content-3">
                @for (filter of filters(); track filter.enumFiltro) {
                    <app-filter-add-card [filter]="filter" (filterAdded)="onFilterAdded($event)"></app-filter-add-card>
                }
            </div>
        </div>
    </div>
}