:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;
}

table {
  width: 100%;
  background-color: transparent;
}

.mat-mdc-cell {
  vertical-align: middle;
}

.loading-container,
.empty-state {
  text-align: center;
  padding: 32px 20px;

  p {
    opacity: 0.7;
  }
}