:host {
  max-width: 425px;
  min-width: 345px;
  width: 100%; 
}

.scanner-card {
  overflow: hidden;
  transition: all 0.3s ease;

  .mat-mdc-card-header {
    justify-content: space-between;
    background-color: var(--mat-sys-primary);
  }

  .mat-mdc-card-content {
    background-color: var(--mat-sys-surface-container-low);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 24px;
    gap: 10px;

    textarea {
        max-height: 115px;
    }

  }

  .mat-mdc-card-title {
    color: var(--mat-sys-on-primary);
  }
    
}