:host {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Take full viewport height */
    overflow: hidden; /* Hide overflow from the host itself */
}

div {
    flex: 1; /* Allow content to grow and shrink */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    width: 100%;
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

img{
    max-width: 60%;
    height: auto;
    margin-top: 20px;
}