.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
}

.reload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
    border-radius: 10px;
    height: 65px;

    i {
        font: var(--mat-sys-headline-large);
        color: var(--mat-sys-on-error-container);
        padding: 10px;
    }

    span {
        font: var(--mat-sys-label-large);
        color: var(--mat-sys-on-error-container);
    }

    &:hover {
        background-color: var(--mat-sys-error);

        i, span {
            color: var(--mat-sys-on-error);
        }
    }

}

.error-message {
    font: var(--mat-sys-title-medium);
}

@media (max-width: 768px) {
    .error-container {
        min-height: 150px;
        padding: 1.5rem;
    }
}