.configuration-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: var(--panel);
  overflow: hidden;
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  width: 100%;
  height: auto;
  background-color: var(--card-header);
  align-items: center;
}

.card-header h2 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: var(--card-header-text); /* Ensure header text color is applied */
}


.manrope-24pt-semibold {
  color: var(--card-header-text);
  margin: 0; /* Remove default margins */
  flex-grow: 1; /* Allow the title to take up available space */
  text-align: left; /* Ensure text is aligned to the left */
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Updated gap to 8px */
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.text-error {
  color: var(--color-error); /* Updated color */
  font-family: var(--font-family-manrope); /* Updated font family */
  font-size: 12px; /* Updated font size */
  font-weight: 400; /* Updated font weight */
  line-height: normal; /* Updated line height */
  letter-spacing: var(--letter-spacing-05); /* Updated letter spacing */
  min-height: 1.2em; /* Allocate fixed space for error message */
  margin-bottom: 8px; /* Add margin to ensure gap */
  text-align: center; /* Center the error text */
}

.add-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fill-available; /* Equivalent to Figma's fill */
  height: hug-content; /* Equivalent to Figma's hug */
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-success);
  color: var(--card-header-text);
  font-family: var(--font-family-manrope);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.add-filter-button i {
  font-size: 22px;
  width: 22px;
  height: 22px;
  color: var(--card-header-text);
}

.selected-filters-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* Align top center */
  gap: 15px;
  padding: 0;
}