<div class="configuration-card">
  <div class="card-header">
    <h2 class="manrope-20pt-medium">{{ displayTitle() }}</h2>
  </div>

  <div class="card-content">
    @if (loading()) {
      <p class="loading-text">{{ loadingText }}</p>
    } @else {
      <div class="add-filter-div" (click)="onAddFilter()">
        <i class="bi bi-plus-circle"></i>
        <span class="add-filter-text manrope-16pt-regular">{{ addFilterButtonText }}</span>
      </div>
      
      <p class="text-error">{{ error() }}</p>
      
      <div class="selected-filters-container">
        @for (filtro of filtros(); track filtro.enumFiltro; let i = $index) {
          <app-filter-selected-card
            [filtro]="filtro"
            [submitted]="submitted()"
            (filterChange)="handleFilterChange($event, i)"
          ></app-filter-selected-card>
        }
      </div>
    }
  </div>
</div>