<div class="filter-add-card-container">
  <div class="filter-add-card-header">
    <input
      type="text"
      class="form-control manrope-16pt-regular"
      [value]="filterName"
      readonly
    />
    <button
      type="button"
      class="btn-icon"
      (click)="onAddFilter()"
    >
      <i class="bi bi-plus"></i>
    </button>
  </div>

  <div class="filter-add-card-description">
    <textarea
      class="form-control manrope-12pt-regular"
      readonly
    >
      {{ filterDescription }}
    </textarea>
  </div>

  <div class="filter-add-card-type">
    <span class="manrope-8pt-medium">
      {{ filterCategory }}
    </span>
  </div>
</div>