<div class="configuration-card">
  <div class="card-header">
    <h2 class="manrope-20pt-medium">{{ displayTitle() }}</h2>
  </div>

  <div class="card-content">
    <form [formGroup]="generalForm">
      <app-form-text
        [label]="'Nombre Escáner'"
        [placeholder]="'Ingrese el nombre'"
        [controlId]="'nombreEscaner'"
        [formControl]="generalFormNombreEscanerControl"
      ></app-form-text>
      <div class="text-error">
        @if (getGeneralErrorMessage('nombreEscaner', 'required')) {
          {{ getGeneralErrorMessage('nombreEscaner', 'required') }}
        } @else if (getGeneralErrorMessage('nombreEscaner', 'minlength')) {
          {{ getGeneralErrorMessage('nombreEscaner', 'minlength') }}
        }
      </div>

      <app-form-text-area
        [label]="'Descripción'"
        [placeholder]="'Descripción (opcional)'"
        [controlId]="'descripcion'"
        [formControl]="generalFormDescripcionControl"
      ></app-form-text-area>
      <div class="text-error">
        @if (getGeneralErrorMessage('descripcion', 'required')) {
          {{ getGeneralErrorMessage('descripcion', 'required') }}
        } @else if (getGeneralErrorMessage('descripcion', 'minlength')) {
          {{ getGeneralErrorMessage('descripcion', 'minlength') }}
        }
      </div>
    </form>
  </div>
</div>
