:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Take full viewport height */
  overflow: hidden; /* Hide overflow from the host itself */
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centered horizontally */
    align-items: flex-start; /* Aligned to the top */
    padding: 15px;
    gap: 15px;
    flex: 1; /* Allow content to grow and shrink */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.inf-conf {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 345px;
    max-width: 400px;
    height: fit-content;
    gap: 15px;
    box-sizing: border-box; 
}

.filter-conf {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 345px;
    max-width: 1230px;
    height: fit-content;
    gap: 15px;
    box-sizing: border-box; 
}