<nav class="navbar-header">
    <!-- Logo for mobile (centered) -->
    <div class="mobile-logo">
        <h1>LOGO</h1>
    </div>

    <!-- Header content -->
    <div class="header-content">
        <div class="backButton-spacer">
            @if (backPath() != '') {
                <button
                    [routerLink]="backPath()"
                    mat-button
                    class="nav-back-item"
                    [attr.aria-label]="'Volver' ">
                    <i class="bi bi-arrow-left-square-fill"></i>
                </button>
            }
        </div>
        <h3>{{title()}}</h3>
        <div class="flex-spacer"></div>
        @for (item of buttons(); track item.id) {
            <button
                [routerLink]="item.routerLink && item.routerLink"
                mat-button
                class="nav-item"
                (click)="item.action && action.emit(item.action)"
                [attr.aria-label]="item.label">
                <i [class]="item.icon" aria-hidden="true"></i>
                <span i18n>{{item.label}}</span>
            </button>
        }
    </div>
</nav>
