.table-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--panel);
  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.table {
  background-color: transparent; /* Make table transparent */
  width: 100%; /* Ensure table takes full width of container */
  height: auto; /* Set height to auto */
  border-collapse: collapse; /* Collapse borders for better control */
}

.table thead tr {
  display: grid;
  grid-template-columns: 100px 1fr 100px 100px;
  gap: 10px;
  padding: 3px;
  align-items: center;
  height: auto;
}

.table th {
  color: var(--text-primary);
  text-align: center;
  font-family: var(--font-family-manrope);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: var(--letter-spacing-05);
}

.table tbody tr {
  display: grid;
  grid-template-columns: 100px 1fr 100px 100px;
  gap: 10px;
  padding: 3px;
  align-items: center;
  height: auto;
  border-bottom: 1px solid var(--border-default);
}

.table tbody tr:last-child {
  border-bottom: none; /* Remove border for the last row */
}

.table td {
  color: var(--text-primary);
  text-align: left;
  display: flex;
  align-items: center;
  font-family: var(--font-family-manrope);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: var(--letter-spacing-05);
}

.table tbody tr td:nth-child(3),
.table tbody tr td:nth-child(4) {
  justify-content: center; /* Center icons horizontally */
}

.table td i {
  cursor: pointer; /* Change cursor to pointer for icons */
}