:host {
    margin-top: 115px;
}

.page-content {
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.no-data-message {
    font: var(--mat-sys-title-medium);
}
